@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Noto+Serif:wght@700&display=swap');

/* global */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: #333333;
}

.wrapper {
    display:grid;
    grid-gap: 50px;
    padding:20px;
}

h2 {
    font-family: 'Noto Serif', serif;  
    font-size: 26px; 
}

/* navigation */

.navigation > ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    color:#333333;
    padding: 0 0 30px 0;
}

.logo {
    font-size: 18px;
}

/* header */

.genres {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-gap:5px;
}

.genres > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;  
    font-size: 26px;  
    text-align: center;   
}

.genres > h3:nth-child(1){
    background-image: url(/images/pinkblog.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.genres > h3:nth-child(2) {
    background-image: url(/images/yellowblob.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.genres > h3:nth-child(3) {
    background-image: url(/images/blueblob.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.genres > h3:nth-child(4) {
    background-image: url(/images/orangeblob.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.genres > h4 {
    font-family: 'Noto Serif', serif;  
    font-size: 12px;  
    text-align: center;
    color:#666666;
}

/* event details */

.featured {
    border-top: 1px solid #e9e8e8;
    display: grid;
    grid-template-areas: "header header header image"
                        "date address button image";

    grid-gap:10px;
    padding: 30px 0 20px 80px;
}

.event {
    grid-area: header;
    font-size:42px;
}

.artist > img {
    width:380px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 130px;
    border-top-right-radius: 200px;
}

.artist {
    padding:20px;
    grid-area: image;
}

.date {
    grid-area: date;
}

.date > h3 {
    font-family: 'Noto Serif', serif; 
    font-size:21px;
}

.address > h3 {
    font-size:21px;
}

.address {
    grid-area: address;
}

p {
    font-family: 'Noto Serif', serif; 
    font-size:12px;
    line-height: normal;
    color:#666666
}
.button {
    grid-area: button;
    width:150px;
    height:50px;
    border: solid 2px #333333;
    font-family:  'Josefin Sans', sans-serif;
    font-size: 16px;
    border-radius: 40px;
    background-color: transparent;
}

footer {
    display:flex;
    justify-content: flex-start;
    padding:5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:14px;
}

.fab {
    padding-left:10px;
}

@media only screen and (max-width: 600px) {

    .wrapper {
        max-width: 300px;
    }

    .navigation {
        max-width:300px;
        padding:5px;
    }

    .navigation > ul {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
        color:#333333;
        padding: 0 0 30px 0;
    }
    .mobile-hide {
        display:none;
    }

    .genres {
        display:grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 4fr 1fr;
        grid-gap:5px;
    }


  }